header{
  background: var(--Color-6, #0E2A52);
}
app-swiper-trabajos{
  display: none;
}
@media (width < 800px){
  app-windows-trabajos{
    display: none;
  }
  app-swiper-trabajos{
    display: block;
  }
}