header{
  background:#0E2A52;
}
h1{
  color: #F9C75E;
text-align: center;
font-family: Poppins;
font-size: 51.2px;
margin: 0;
padding-top: 72px;
padding-bottom: 200px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
main{
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0 30px;
}

.panel-1, .panel-2{
  display: flex;
  flex-direction: column;
}

.panel-1{
  gap: 192px;
}
.panel-2{
  gap: 194px;
}
img{
  width: 100%;
}
.img2{
  padding-top: 156px;
}
swiper-container{
  display: none;
}
@media (width < 900px){
  h1{
    font-size: 35px;
    padding-bottom: 47px;
    margin: 0 10px;
  }
  swiper-container{
    display: block;
  }
  main{
    display: none;
  }
  .text{
    display: none;
  }
}