h1{
  color: #F9C75E;
text-align: center;
font-family: Poppins;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
padding: 50px;
}
swiper-container{
  margin: 0 50px;
}
swiper-slide{
  height: auto;
}
img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.swiper-1{
  margin-bottom: 30px;
}
swiper-container::part(button-next), swiper-container::part(button-prev) {
  color: #fff;
  width: 20px;
}