header{
  background: #0E2A52;
  min-height: 1200px;
  width: 100%;
}
h1{
  color: #F9C75E;
font-family: Poppins;
text-align: center;
margin: 0;
font-size: 54px;
font-style: normal;
padding: 0 25px;
font-weight: 700;
line-height: normal;
margin-bottom: 185px;
}
main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.dron{
  width: 33%;
  max-width: 355px;
  box-sizing: border-box;
  padding: 40px;
}

@media (width < 900px) {
  h1{
    font-size: 35px;
  }
  main{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  h1{
    margin-bottom: 50px;
  }
  .dron{
    width: 100%;
  }
}