.adaptamos-contenido {
  width: 100%;
  height: auto;
  background-color: #0E2A52;
}

h1 {
  margin: 0;
  padding: 144px 0;
  color: #F9C75E;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 51.2px;
  font-weight: 700;
}
swiper-container{
  max-width: 1140px;
  display: flex;
}
.swiper-wrapper{
  display: flex;
}
@media (width < 900px){
  h1{
    font-size: 35px;
    margin: 0 10px;
    padding-bottom: 55px;
  }
}